.top_search_area {
    background: #fff;
    margin: 20px;
    box-shadow: 2px 2px #cccccc;
    border-radius: 5px;
}
._row {
    display: inline-block;
    margin: 0px 10px;
}
._row p {
    display: table-cell;
    width: 85px;
}
._row >div{
    display: table;
}

/* Middle Area */
.middle_filter_area {
    background: #fff;
    margin: 20px;
    box-shadow: 2px 2px #cccccc;
    border-radius: 5px;
}

.sort_button{
    float: right;
    margin: 20px;
}
.sort_button > div{
    width: max-content
}

.sort_button button{
    display: inline-block;
    margin: 0px 10px;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0.3125rem;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid #006aff;
    color: #006aff;
    text-decoration: none;
    text-align: center;
    width: 100px;
}
.sort_button p{
    display: inline-block;
}

.total_results {
    font-size: 13px;
    margin: 0px 15px;
    padding: 0px 13px;
}

.total_results p {
    float: right;
    margin-bottom: 0;
}

.jobs_shell{
    margin-top: 40px;
}

@media only screen and (max-width: 692px){
    .sort_button{
        float: unset;
        margin: 15px;
    }
}